.otp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Your-otp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.otp-label {
    font-size: 1.2rem;
}

.otp-input {
    width: 250px;
}

.reenter-otp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.otp-label {
    font-size: 1.2rem;
}

.otp-input {
    width: 250px;
}

.verify-button {
    width: 200px;
}